/Source/_ReSharper.*/*

/Source/packages/*
!/Source/packages/repositories.config

/Source/*.suo
/Source/*.sln.DotSettings.user
/Source/*.1.2.dotCover

/Source/FactoryFriendCore/bin
/Source/FactoryFriendCore/obj
/Source/FactoryFriendCoreTest/bin
/Source/FactoryFriendCoreTest/obj