/Source/_ReSharper.*/*

/Source/packages/*
!/Source/packages/repositories.config

/Source/*.suo
/Source/*.sln.DotSettings.user
/Source/*.1.2.dotCover

/Source/FactoryFriend/bin
/Source/FactoryFriend/obj
/Source/FactoryFriend.Test/*.StyleCop
/Source/FactoryFriend.Test/bin
/Source/FactoryFriend.Test/obj
/Source/FactoryFriend.Test/*.StyleCop

/Tools/nant-0.91/*
!/Tools/nant-0.91/DOWNLOAD_AND_EXTRACT_HERE

/Tools/NUnit-2.6.0.12051/*
!/Tools/NUnit-2.6.0.12051/DOWNLOAD_AND_EXTRACT_HERE

/Build
/Source/TestResult.xml